# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.coverage

# Next.js
.next
out
build

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env*.local
*.env

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea
*.swp
*.swo
*~
*.iml

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations

# Database
*.db
*.sqlite
*.db-shm
*.db-wal

# Secrets
*.key
*.pem
*.pfx
secrets/
certs/

# Docker
docker-compose.override.yml

# Misc
logs/
temp/
tmp/
*.tmp
generated/
minio_data/
